{% set title = 'Accounting History' %}
{% set web_title = 'ELITS ERP' %}
{% set filename = 'accounting-history.html' %}

{% extends 'src/layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="assets/extensions/simple-datatables/style.css">
<link rel="stylesheet" href="assets/scss/pages/simple-datatables.scss">
{% endblock %}

{% block content %}
<div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>History</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="accounting-dashboard.html">Accounting</a></li>
                        <li class="breadcrumb-item active" aria-current="page">History</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
<div class="page-content"> 
    <section class="row">
		<div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Transaction History
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
							<th>Type</th>
                            <th>Sub-type</th>
                            <th>Account</th>
                            <th>Comment</th>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="badge bg-success">Income</span>
                            </td>
                            <td>Investasi</td>
                            <td>Kas Besar</td>
                            <td>Modal dari Anita</td>
                            <td>2024-02-13</td>
                            <td>Rp 0</td>
                        </tr>
						<tr>
                            <td>
                                <span class="badge bg-success">Income</span>
                            </td>
                            <td>Piutang</td>
                            <td>Kas Besar</td>
                            <td>Pembayaran utang dari Anita</td>
                            <td>2024-02-12</td>
                            <td>Rp 0</td>
                        </tr>
						<tr>
                            <td>
                                <span class="badge bg-success">Income</span>
                            </td>
                            <td>Pendapatan - PA</td>
                            <td>Kas Besar</td>
                            <td>PA - CB Sekardangan</td>
                            <td>2024-02-11</td>
                            <td>Rp 0</td>
                        </tr>
						<tr>
                            <td>
                                <span class="badge bg-success">Income</span>
                            </td>
                            <td>Pendapatan - HAR</td>
                            <td>Kas Besar</td>
                            <td>HAR - CO Mojokerto</td>
                            <td>2024-02-10</td>
                            <td>Rp 0</td>
                        </tr>
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>Beli Material</td>
                            <td>Kas Kecil</td>
                            <td>Deadend 200pcs</td>
                            <td>2024-02-09</td>
                            <td>Rp 0</td>
                        </tr>
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>Beli ATK</td>
                            <td>Kas Kecil</td>
                            <td>Stempel ELITS</td>
                            <td>2024-02-08</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>						
						<tr>
                            <td>
                                <span class="badge bg-danger">Expense</span>
                            </td>
                            <td>DLL</td>
                            <td>Kas Kecil</td>
                            <td>Comment</td>
                            <td>2024-02-07</td>
                            <td>Rp 0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</section>
</div>
{% endblock %}
{% block js %}
<script src="assets/extensions/simple-datatables/umd/simple-datatables.js"></script>
<script src="assets/static/js/pages/simple-datatables.js"></script>
{% endblock %}